<form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="taskService.selectedTask.$key">
  <div class="form-group">
    <label>Task</label>
    <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="taskService.selectedTask.name" placeholder="Task Name" required>    
  </div>
  <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" name="desc" #name="ngModel" [(ngModel)]="taskService.selectedTask.desc" placeholder="Description">    
  </div>
  <div class="form-group">
    <label>Date</label>
    <input type="number" class="form-control" name="priority" #name="ngModel" [(ngModel)]="taskService.selectedTask.priority" placeholder="Priority">    
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default" [disabled]="!taskForm.valid">Submit</button>
    <button type="button" class="btn btn-default" *ngIf="taskService.selectedTask.$key!=''" (click)="onDelete(taskForm)">Delete</button>
    <button type="button" class="btn btn-default" (click)="resetForm(taskForm)">Reset</button>
  </div>
</form>